<div class=" h-100 d-flex justify-content-center align-items-center text-white bg-success p-3">
  <div class="my-5">
    <app-title [titleLineColor]="'white'">
      <h1 class="display-5 fw-bolder text-uppercase text-center">about component</h1>
      <p class=" gy-3 col-sm-5">Freelancer is a free bootstrap theme created by Route. The download includes the
        complete
        source
        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      <p class=" gy-3 col-sm-5">Freelancer is a free bootstrap theme created by Route. The download includes the
        complete
        source
        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </app-title>
  </div>
</div>