<footer>
  <div class="footer text-white py-5">
    <div class="container">
      <div class="row gy-5">
        <div class="col-md-4">
          <h3 class="fw-bolder text-uppercase">location</h3>
          <p class="">2215 John Daniel Drive Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
          <h3 class="fw-bolder text-uppercase">around the web</h3>
          <span class="social-icons">
            <span class="p-2 border border-white rounded-circle"><i class="fab fa-facebook-f"></i></span>
            <span class="p-2 border border-white rounded-circle"><i class="fab fa-twitter"></i></span>
            <span class="p-2 border border-white rounded-circle"><i class="fab fa-linkedin-in"></i></span>
            <span class="p-2 border border-white rounded-circle"><i class="fab fa-instagram"></i></span>
          </span>
        </div>
        <div class="col-md-4">
          <h3 class="fw-bolder text-uppercase">About freelancer</h3>
          <p class="">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white text-center py-3">
    <p>Copyright © Your Website 2025</p>
  </div>
</footer>